<h1>Pagination</h1>

@*<br /><br />
<!--
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
    </ul>
</nav>*@


<br />
<br />

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span> <!-- com icones-->
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" area-label="Next">
                <span aria-hidden="true">&raquo;</span> <!--com icones-->
            </a>
        </li>
    </ul>
</nav>

<br /><br />

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-lg">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
    </ul>
</nav>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination-sm">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
    </ul>
</nav>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        
        <!--Razor-->
        @for (int i = 0; i < 12; i++)
        {
            <li class="page-item @(i == 4 ? "active" : "")"><a class="page-link" href="#">@i</a></li>
        }
                
        <li class="page-item"><a class="page-link" href="#">Próxima</a></li>
    </ul>
</nav>



