<h1>Tabelas - Table</h1>

<table class="table table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Café em pó 500g</td>
            <td>20,23</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Refrigerante Guaraná 350ml</td>
            <td>5,78</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Sorvete de massa 2kg</td>
            <td>25,87</td>
        </tr>
    </tbody>
</table>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <td>1</td>
            <td>Café em pó 500g</td>
            <td>20,23</td>
        </tr>
        <tr class="table-warning">
            <td>5</td>
            <td>Refrigerante Guaraná 350ml</td>
            <td>5,78</td>
        </tr>
        <tr class="table-danger">
            <td>9</td>
            <td>Sorvete de massa 2kg</td>
            <td>25,87</td>
        </tr>
    </tbody>
</table>

<br /><br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Café em pó 500g</td>
            <td class="table-success">20,23</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Refrigerante Guaraná 350ml</td>
            <td class="table-dark">5,78</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Sorvete de massa 2kg</td>
            <td class="table-danger">25,87</td>
        </tr>
    </tbody>
</table>

<br /><br />

<table class="table table-success table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome do Produto</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Café em pó 500g</td>
            <td>20,23</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Refrigerante Guaraná 350ml</td>
            <td>5,78</td>
        </tr>
        <tr class="table-active">
            <td>9</td>
            <td>Sorvete de massa 2kg</td>
            <td>25,87</td>
        </tr>
    </tbody>
</table>

<br /><br />

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th class="text-center">ID</th>
            <th>Nome do Produto</th>
            <th class="text-end">Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="text-center">1</td>
            <td>Café em pó 500g</td>
            <td class="text-end">20,23</td>
        </tr>
        <tr>
            <td class="text-center">5</td>
            <td>Refrigerante Guaraná 350ml</td>
            <td class="text-end">5,78</td>
        </tr>
        <tr class="table-active">
            <td class="text-center">9</td>
            <td>Sorvete de massa 2kg</td>
            <td class="text-end">25,87</td>
        </tr>

        <tr>
            <td colspan="3" class="text-center">Preço válido para 15 dias </td>
        </tr>
    </tbody>
</table>
