<h1>List Group</h1>

<div class="row">
    <div class="col-4 my-1">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">Alimentação</li>
            <li class="list-group-item list-group-item-action disabled">Doces</li>
            <li class="list-group-item list-group-item-action">Frios</li>
            <li class="list-group-item list-group-item-action active">Limpeza</li>
            <li class="list-group-item list-group-item-action">Padaria</li>
        </ul>
    </div>

    <div class="col-4 my-1">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                Alimentação
            </button>
            <button type="button" class="list-group-item list-group-item-action">Doces</button>
            <button type="button" class="list-group-item list-group-item-action">Frios</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Limpeza</button>
            <button type="button" class="list-group-item list-group-item-action active" disabled>Padaria</button>
        </div>
    </div>

    <div class="col-4 my-1">
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                Alimentação
            </button>
            <button type="button" class="list-group-item list-group-item-action">Doces</button>
            <button type="button" class="list-group-item list-group-item-action">Frios</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Limpeza</button>
            <button type="button" class="list-group-item list-group-item-action active" disabled>Padaria</button>
        </div>
    </div>

    <div class="col-4 my-1">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-action">Alimentação</li>
            <li class="list-group-item list-group-item-action disabled">Doces</li>
            <li class="list-group-item list-group-item-action">Frios</li>
            <li class="list-group-item list-group-item-action active">Limpeza</li>
            <li class="list-group-item">Padaria</li>
        </ol>
    </div>

    <div class="col-4 my-1">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Alimentação</div>
                    Quantidade de itens
                </div>
                <span class="badge bg-primary rounded-pill">35</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Doces</div>
                    Quantidade de itens
                </div>
                <span class="badge bg-primary rounded-pill">57</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">Limpeza</div>
                    Quantidade de itens
                </div>
                <span class="badge bg-primary rounded-pill">43</span>
            </li>
        </ol>
    </div>

     <div class="col-4 my-1">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item list-group-item-primary">Alimentação</li>
            <li class="list-group-item list-group-item-warning">Doces</li>
            <li class="list-group-item list-group-item-danger">Frios</li>
            <li class="list-group-item list-group-item-info">Limpeza</li>
            <li class="list-group-item list-group-item-dark">Padaria</li>
        </ul>
     </div>

     <div class="col-4 my-1"> 
         <div class="list-group">
             <a href="#"class="list-group-item list-group-item-action active" aria-current="true">
                 <div class="d-flex w-100 justify-content-between">
                     <h5 class="mb-1">Alimentação</h5>
                     <small>35 produtos</small>
                 </div>
                 <p class="mb-1">Arroz, feijão, macarrão, farinha de trigo, óleo ....</p>
                 <small>E muito mais.</small>
             </a>
             <a href="#"class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Doces</h5>
                     <small class="text-muted">57 produtos</small>
                 </div>
                 <p class="mb-1">Chocolates pretos, chocolates brancos, biscoitos....</p>
                 <small class="text-muted">Incluindo doces enlatados</small>
             </a>
             <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Limpeza</h5>
                    <small class="text-muted">43 produtos</small>
                </div>
                <p class="mb-1">Sabão em pó, sabão em barras, sabão líquido, detergentes, desinfetantes....</p>
                <small class="text-muted">Diversas marcas</small>
             </a>
         </div>
     </div> 
     
     <div class="col-4 my-1">
         <ul class="list-group">
             <li class="list-group-item">
                 <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                 Arroz
             </li>
             <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Feijão
             </li>
             <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Chocolate
             </li>
             <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Detergente
             </li>
             <li class="list-group-item">
                <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
                Sabão em pó
             </li>
         </ul>
     </div>
</div>