<h1>List Group</h1>

<div class="row">
    <div class="col-4 my-1">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">Alimentação</li>
            <li class="list-group-item list-group-item-action disabled">Doces</li>
            <li class="list-group-item list-group-item-action">Frios</li>
            <li class="list-group-item list-group-item-action active">Limpeza</li>
            <li class="list-group-item list-group-item-action">Padaria</li>
        </ul>
    </div>

    <div class="col-4 my-1">
        <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                Alimentação
            </button>
            <button type="button" class="list-group-item list-group-item-action">Doces</button>
            <button type="button" class="list-group-item list-group-item-action">Frios</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Limpeza</button>
            <button type="button" class="list-group-item list-group-item-action active" disabled>Padaria</button>
        </div>
    </div>

    <div class="col-4 my-1">
        <div class="list-group list-group-flush">
            <button type="button" class="list-group-item list-group-item-action" aria-current="true">
                Alimentação
            </button>
            <button type="button" class="list-group-item list-group-item-action">Doces</button>
            <button type="button" class="list-group-item list-group-item-action">Frios</button>
            <button type="button" class="list-group-item list-group-item-action disabled">Limpeza</button>
            <button type="button" class="list-group-item list-group-item-action active" disabled>Padaria</button>
        </div>
    </div>

    <div class="col-4 my-1">
        <ol class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-action">Alimentação</li>
            <li class="list-group-item list-group-item-action disabled">Doces</li>
            <li class="list-group-item list-group-item-action">Frios</li>
            <li class="list-group-item list-group-item-action active">Limpeza</li>
            <li class="list-group-item">Padaria</li>
        </ol>
    </div>

</div>