<h1>Alertas</h1>

<div class="row">
    <div class="col-6">
        <div class="alert alert-primary" role="alert">
            Este é o componente Alert primary do Bootstrap 5.1!
        </div>

        <div class="alert alert-secondary" role="alert">
            Este é o componente Alert secondary do Bootstrap 5.1!
        </div>

        <div class="alert alert-success" role="alert">
            Este é o componente Alert success do Bootstrap 5.1!
        </div>

         <div class="alert alert-danger" role="alert">
            Este é o componente Alert danger do Bootstrap 5.1!
        </div>
    </div>

    <div class="col-6">

        <div class="alert alert-warning" role="alert">
            Este é o componente Alert warning do Bootstrap 5.1!
        </div>

        <div class="alert alert-info" role="alert">
            Este é o componente Alert info do Bootstrap 5.1!
        </div>

        <div class="alert alert-light" role="alert">
            Este é o componente Alert light do Bootstrap 5.1!
        </div>

        <div class="alert alert-dark alert-dismissible" role="alert">
            Este é o componente Alert dark do Bootstrap 5.1!
            <button class="btn-close" data-bs-dismiss="alert"></button>
        </div>
    </div>
</div>
