<h1>Navs e Tabs</h1>

<br /><br />
<!--vertical-> flex-column-->
<!--destaca o active-> nav-pills-->
<ul class="nav nav-tabs nav-pills nav-justified">
    <li class="nav-item">
        <a class="nav-link active" href="#">Alimentos</a>        
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Doces</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Limpeza</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Frios, açougue e padaria</a>
    </li>
</ul>

<br /><br />
<nav class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link active" href="#">Alimentos</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Doces</a>
    <a class="flex-sm-fill text-sm-center nav-link" href="#">Limpeza</a>
    <a class="flex-sm-fill text-sm-center nav-link disabled">Frios, açougue e padaria</a>   
</nav>

<br /><br />
<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link active" href="#">Alimentos</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Doces</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Chocolates</a></li>
            <li><a class="dropdown-item" href="#">Enlatados</a></li>
            <li><a class="dropdown-item" href="#">Tradicionais</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Baixa calorias</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Limpeza</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled">Frios</a>
    </li>
</ul>


<!--Continuar aqui video 16 12:13 -->
