<h1>Dropdown</h1>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Categorias
    </button>

    <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="https://localhost:44384/Tabelas">Limpeza</a></li>
        <li><a class="dropdown-item active" href="#">Higiene</a></li>
        <li><a class="dropdown-item" href="#">Alimentação</a></li>
    </ul>
</div>
