<h1>Botões</h1>

<div class="row">
    <div class="col-4">
        <button type="button" class="btn btn-outline-primary">Primary</button>
        <button type="button" class="btn btn-outline-danger">Danger</button>
        
        <button type="button" class="btn btn-link">Clique aqui</button>

        <br /><br />
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">Opção 1</button>
            <button type="button" class="btn btn-danger">Opção 2</button>
            <button type="button" class="btn btn-warning">Opção 3</button>
        </div>

        <br /><br />
        <div class="btn-group-vertical" role="group">
            <button type="button" class="btn btn-primary">Opção 1</button>
            <button type="button" class="btn btn-danger">Opção 2</button>
            <button type="button" class="btn btn-warning">Opção 3</button>
        </div>

        <br /><br />
        <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Feminino</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Masculino</label>
        </div>

    </div>

    <div class="col-8">
        <button type="button" class="btn btn-secondary btn-sm">Secondary</button>
        <button type="button" class="btn btn-success btn-lg">Success</button>

        <button type="button" class="btn btn-danger">Danger</button>
        <button type="button" class="btn btn-warning">Warning</button>
        <button type="button" class="btn btn-info">Info</button>
        
        <button type="button" class="btn btn-light d-block">Light</button>
        <button type="button" class="btn btn-dark d-block">Dark</button>

        <br /><br />
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button">Button 1</button>
            <button class="btn btn-primary" type="button">Button 2</button>
        </div>

        <br /><br />
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Button 1</button>
            <button class="btn btn-primary" type="button">Button 2</button>
        </div>
        
    </div>
</div>