<h1>Navbar - Barra de Navegação</h1>

<br />
<!--OBS:fixed-top sobrepoe a barra anterior , o sticky-top não-->

<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="~/imagens/dotnet 3.png" alt="" width="30" heigth="24" class="d-inline-block align-text-top" />
            Pães
            </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expand="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fornecedores</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Setores
                </a> 

                <ul class="dropdown-menu" aria-labelledy="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Alimentação</a></li>
                    <li><a class="dropdown-item" href="#">Doces</a></li>
                    <li><hr class="dropdown-divider"/></li>
                    <li><a class="dropdown-item" href="#">Limpeza</a></li>
                </ul>

                </li>
                <li class="nav-item">
                    <a class="nav-link" disabled>Funcionários</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Search" />
                <button class="btn btn-outline-success" type="submit">Buscar</button>                
            </form>
        </div>
    </div>
</nav>

<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
<br />
<p>Paragráfo de textos na página</p>
      