<h1>Spinner</h1>

<br />

<!--text-primary ms-5-->
<div class="d-flex justify-content-center">
    <div class="spinner-border">
        <span class="visually-hidden">Carregando...</span>
    </div>
</div>

<p>teste</p>

<br />
<div class="spinner-border spinner-grow-sm">
    <span class="visually-hidden">Carregando...</span>
</div>

<br /><br />
<div class="spinner-border" style="width: 6rem; height: 6rem;">
    <span class="visually-hidden">Carregando...</span>
</div> 

<br /><br />

<button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span class="visually-hidden">Carregando...</span>
</button>

<br /><br />
<button class="btn btn-primary" type="button" disabled>
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Carregando...
</button>


<!--Exemplo prático pode ser colocado antes da redenrização da página , por exemplo na view _Layout em cima de RenderBody para aguardar o carregamento -->


