<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Net6Bootstrap5CSharp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Net6Bootstrap5CSharp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Net6Bootstrap5CSharp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                       
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Exemplo</a>
                        </li>

                        <li class="navi-item dropdown">
                            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                Componentes
                            </button>
                        <ul class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">

                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Alertas" asp-action="Index">Alertas</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Botoes" asp-action="Index">Botoes</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Badge" asp-action="Index">Bagde</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tabelas" asp-action="Index">Tabelas</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tabelas" asp-action="Index">Tabelas</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Dropdown" asp-action="Index">Dropdown</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Card" asp-action="Index">Card</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Carousel" asp-action="Index">Carousel</a>
                                </li>
                                <li class="dropdown-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="ListGroup" asp-action="Index">ListGroup</a>
                                </li>

                            </ul>
                        
                        </li>  
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Collapse" asp-action="Index">Collapse</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Modal" asp-action="Index">Modal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Pagination" asp-action="Index">Pagination</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NavsTabs" asp-action="Index">Navs/Tabs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Forms" asp-action="Index">Forms</a>
                        </li>
         
                    </ul> 
                </div>                        
                
            </div>                     
                            
            
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Net6Bootstrap5CSharp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
