@{
    ViewData["Title"] = "Bootstrap 5.1";
}
<h1>@ViewData["Title"]</h1>

<p>Usando o bootstrap</p>

@*<div class="row justify-content-end">
    <div class="col-4">
        Existem 12 colunas e modelo disponíveis por linha permitindo que você crie diferentes combinações de elementos que abrangem qualquer número de colunas. 
        As classes de coluna indicam o númeor de colunas do modelo a serem estendidas (por exemplo, col-4 abrange quatro).widths são definidos em porcentagens para que você sempre tenha o mesmo tamanho relativo.
    </div>
    <div class="col-4">
        O sistema de grade do Bootstrap usa uma série de contêineres, linhas e colunas para fazer o layout e alinhar o cnteúdo. Ele é construído com flexbox e  é totalmente responsivo. Abaixo está um exmplo e uma explicação de talhada de como o sistema de grade funciona.
    </div>   
</div>*@

<div class="row justify-content-center">
    <div class="col-4">
        <h2>.NET</h2>

       <img src="~/imagens/dotnetunitedplataform.png" class="w-50 rounded d-block my-3 mx-auto"  alt="dotnet" />       

       <p> O .NET (<span class="text-info">antigamente .NET Core</span>) é um framework livre e de código aberto para os sistemas operacionais Windows, Linux e macOS.[1] É um sucessor de código aberto[2] do .NET Framework.[3] O projeto é desenvolvido principalmente pela <b>Microsoft</b> e <u>lançado</u> com a <strong>Licença</strong> <mark>MIT</mark>.[4]</p>
        <img src="~/imagens/dotnet.png" class="img-thumbnail" alt="logo" />
    </div>

<div class="col-4">
        <h2 class="text-center">História</h2>

        <div class="accordion" id="accordionHistoria">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#netCore1" aria-expanded="true" aria-controls="collapseOne">
                        .Net Core 1.0
                    </button>
                </h2>
                <div id="netCore1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistoriaX">
                    <div class="accordion-body">
                        <p class="text-white bg-black text-center">O <span class="text-primary">.NET Core 1.0</span>, anunciado em 12 de novembro de 2014,[5] foi lançado em 27 de junho de 2016,[6] junto com o Microsoft Visual Studio 2015 Update 3, que permite o desenvolvimento com .NET Core.[7] O .NET Core 1.0.4 e o .NET Core 1.1.1 foram lançados junto com o .NET Core Tools 1.0 e o Visual Studio 2017 no dia 7 de março de 2017.[8]</p>
                    </div>
                </div>
            </div>

            <div class="accordion" id="accordionHistoria">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#netCore2" aria-expanded="true" aria-controls="collapse2">
                            .Net Core 2.0
                        </button>
                    </h2>
                    <div id="netCore2" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistoriaX">
                        <div class="accordion-body">
                                   <p>O <span class="text-secondary">.NET Core 2.0</span> foi lançado no dia 14 de agosto de 2017, junto com o Visual Studio 2017 15.3, o ASP.NET Core 2.0, e o Entity Framework Core 2.0.[9] O .NET Core 2.1 foi lançado no dia 30 de maio 2018.[10] O .NET Core 2.2 foi lançado em 4 de dezembro de 2018.[11]</p>
                        </div>
                    </div>
                </div>

                <div class="accordion" id="accordionHistoria">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#netCore3" aria-expanded="true" aria-controls="collapseThree">
                                .Net Core 3.0
                            </button>
                        </h2>
                        <div id="netCore3" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistoriaX">
                            <div class="accordion-body">
                                        <p>O <span class="text-danger">.NET Core 3</span> foi anunciado em 7 de maio de 2019, na Microsoft Build. A versão 3.0.0 foi lançada a 23 de setembro de 2019.[12][13] Com o .NET Core 3 o framework passou a suportar desenvolvimento de software aplicativo desktop, inteligência artificial/aprendizado de máquina e apps IoT.[14][não consta na fonte citada]</p>
                            </div>
                        </div>
                    </div>

                    <div class="accordion" id="accordionHistoria">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#netCore31" aria-expanded="true" aria-controls="collapseFour">
                                    .Net Core 3.1
                                </button>
                            </h2>
                            <div id="netCore31" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionHistoriaX">
                                <div class="accordion-body">
                                    <p>O lançamento após o <span class="text-warning">.NET Core 3.1</span> foi o .NET 5, que passou a ser o único .NET a ser atualizado – justificando a remoção da marca "Core" e pulo da versão 4 para evitar confusão com o .NET Framework 4.x</p>
                                </div>
                            </div>
                        </div>

                </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <img src="~/imagens/bootstrap1.png" class="w-25 rounded-circle d-block" alt="LogoBoot" />
    </div>
</div>




