<h1>Collapse</h1>

<br /><br />

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Alimentos (âncora)
    </a> 
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        Arroz, feijão, macarrão, óleo, farinha de trigo ...
    </div>
</div>

<br /><br />

<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=#collapseExample2 aria-controls="collapseExample2">
        Alimentos(button)
    </button>
</p>
<div class="collapse" id="collapseExample2">
    <div class="card card-body">
        Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...
    </div>
</div>

<br /><br />
<p>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
        Alimentos
    </button>
</p>
<div style="min-height: 120px;">
    <div class="collapse collapse-horizontal" id="collapseWidthExample">
        <div class="card card-body" style="width: 300px;">
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
            Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho ...           
        </div>
    </div>
</div>

<p>
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Alimentos (âncora)</a>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Doces(button)</button>

    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Todos(button)</button>
</p>
<div class="row">
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
                Arroz, feijão, macarrão, óleo, farinha de trigo, farinha de milho...
            </div>
        </div>
    </div>
    <div class="col">
        <div class="collapse multi-collapse" id="multiCollapseExample2">
            <div class="card card-body">
                Chocolates pretos, chocalates brancos, balas, biscoitos ....
            </div>
        </div>
    </div>
</div>