<h1>Badge</h1>

<div class="row">
    
    <div class="col-5">

        <h6>O componente <span class="badge bg-primary">Badge</span></h6>

        <p>Os badge (emblemas / crachás / distintivos) são componentes usados para <span class="badge bg-warning">destacar pequenas porções de textos</span> em outros componentes do Bootstrap. A partir da v5, os badge não tem mais estilos de foco ou foco para links</p>

        <br /><br />

        <a href="#" class="d-block my-2">Comédia <span class="badge bg-secondary rounded-circle">182</span></a>
        <a href="#" class="d-block my-2">Aventura <span class="badge bg-danger">32</span></a>
        <a href="#" class="d-block my-2">Infantil <span class="badge bg-dark">63</span></a>
        <a href="#" class="d-block my-2">Outros <span class="badge bg-info rounded-pill">107</span></a>
    </div>

    <div class="col-5">

        <button type="button" class="btn btn-primary position-relative d-block">
            Outros gêneros <span class="badge translate-middle bg-danger position-absolute top-0 start-100 rounded-pill">125</span>
        </button>

    </div>

</div>
