<h1>Card - Cartão</h1>

<div class="row">
    
    <div class="col-md-3 col-sm-12">
        
        <div class="card">  
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Promoção da Semana</h6>
                <p class="card-text">Cada cliente te o direito de comprar no máximo três unidades</p>
                <a href="#" class="card-link">Saiba mais...</a>            
            </div>

            <img src="~/imagens/Melita500gcentro.png" class="card-img-top w-75" alt="Café">
        </div>

    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Promoção da Semana</h6>               
            </div>
        

            <img src="~/imagens/Melita500gcentro.png" class="card-img-top w-75" alt="Café">

            <div class="card-body">
                  <p class="card-text">Cada cliente te o direito de comprar no máximo três unidades</p>
                <a href="#" class="card-link">Saiba mais...</a>
            </div>      
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header">
                Café R$ 20,00
            </div>

            <img src="~/imagens/Melita500gcentro.png" class="card-img-top w-75" alt="Café">
            <div class="card-body">
                <h5 class="card-title">Café Mellita 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Promoção da Semana</h6>
                <p class="card-text">Cada cliente te o direito de comprar no máximo três unidades</p>
                <a href="#" class="btn btn-primary">Saiba mais...</a>
            </div>

             <div class="card-footer">
                 Preço válido até 10/02/2022
             </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-12">
        <div class="card">
            <div class="card-header">
                Sorvete R$ 30,00
            </div>

            <img src="~/imagens/haagendaz.png" class="card-img-top w-75 alt="sorvete">
            <div class="card-body">
                <h5 class="card-title">Sorvete 500 gramas</h5>
                <h6 class="card-subtitle mb-2 text-muted">Promoção da Semana</h6>
                <p class="card-text">Cada cliente te o direito de comprar no máximo três unidades</p>
                <a href="#" class="btn btn-primary">Saiba mais...</a>
            </div>

            <div class="card-footer">
                Preço válido até 10/02/2022
            </div>
        </div>
    </div>
</div>
